body{
	
	background-color: #011F3F;
	 text-align: center;
	
}

.title,.instruction{
	font-family: Anton,sans-serif;
	letter-spacing: 3px;
}


	.title{
		padding-top:4rem;
		font-size: 4rem;
		text-shadow:4px 2px black;
		text-align: center;
		
		color:red;
	}


	.instruction{

		color: #526b2d;
		text-transform: capitalize;
		font-size: 2.5rem;
		text-shadow: 4;
		text-align: center;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

	}


	.block{
		  margin: 25px;
		  display: inline-block;
		  height: 200px;
		  width: 200px;
		  border: 10px solid black;
		  border-radius: 20%;

	}

	.container {
		  display: block;
		  width: 50%;
		  margin: auto;

}

	#level{
		text-align: center;
		color: white;
		font-weight: 800;
		font-size: 3rem;
		font-family: 'Press Start 2P', cursive;
		margin:auto;
		text-transform: capitalize;

	}

	

	.red{

		background-color: red;
	}

	.green{
		background-color: green;
	}

	.blue{
		background-color: blue;
	}

	.yellow{
		background-color: yellow;
	}

	.pressed{
			  box-shadow: 0 0 20px white;
	  background-color: grey;
	}




.game-over {
  background-color: red;
 opacity: 0.8;
}
